Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

mypy-self-check-mypy:
  name: mypy self-check mypy(c)
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
  pass_filenames: false

mypy-self-check-misc:
  name: mypy self-check misc
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
  pass_filenames: false

Fix package constraint name
  test-requirements.txt
Due: none

Add constaint for pre-commit
  test-requirements.txt
Due: none

Exclude i386
  test-requirements.txt
Due: none

Fix condition
  test-requirements.txt
Due: none

Exclude i686
  test-requirements.txt
Due: none

Fix use 2 code paths to fix AnyStr errors (#15678)
  mypy/fastparse.py
  mypy/options.py
  test-data/unit/check-fastparse.test
Due: mypy-self-check-mypy

TypedDict 'in' narrowing w/o @final
  mypy/checker.py
  test-data/unit/check-typeddict.test
Due: mypy-self-check-mypy

Treat empty yield as no-op for reachability
  mypy/checker.py
  test-data/unit/check-unreachable-code.test
Due: mypy-self-check-mypy

Add regression test
  test-data/unit/check-plugin-attrs.test
Due: none

Fix
  mypy/plugins/attrs.py
Due: mypy-self-check-mypy

Fix nitpick from PR review
  mypy/plugins/enums.py
Due: mypy-self-check-mypy

Fix enum plugin on unions of enums (could be separated out into another PR)
  mypy/plugins/enums.py
  test-data/unit/check-enum.test
Due: mypy-self-check-mypy

Fix PR nitpick and 2 test cases
  mypy/messages.py
  test-data/unit/pythoneval.test
Due: mypy-self-check-mypy

Oops
  mypy/messages.py
Due: mypy-self-check-mypy

Fix one more test case
  test-data/unit/check-python310.test
Due: none

Narrow TypeVars in the negative case + narrow them through upper bounds
  mypy/checker.py
  mypy/subtypes.py
  test-data/unit/check-classes.test
  test-data/unit/check-isinstance.test
Due: mypy-self-check-mypy

Implement intersection on TypeVars
  mypy/meet.py
Due: mypy-self-check-mypy

Update commit hashes following typeshed sync (#15690)
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Only affect instances
  mypy/meet.py
  mypy/test/testtypes.py
Due: mypy-self-check-mypy

Also work on unions, I suppose
  mypy/meet.py
Due: mypy-self-check-mypy

Handle tuples and Nones too, I suppose
  mypy/meet.py
Due: mypy-self-check-mypy

LoggerAdapter: the extra property is a simple dict
  mypy/typeshed/stdlib/logging/__init__.pyi
Due: none

Add tests
  test-data/unit/check-classes.test
  test-data/unit/fixtures/__new__-literals.pyi
Due: none

Update tests
  test-data/unit/check-classes.test
  test-data/unit/fixtures/__new__-literals.pyi
  test-data/unit/fixtures/__new__.pyi
Due: none

Temporarily update typeshed
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert "Temporarily update typeshed"
  mypy/typeshed/stdlib/builtins.pyi
Due: none

[mypyc] Don't crash on non-inlinable final local reads
  mypyc/irbuild/builder.py
  mypyc/test-data/irbuild-basic.test
Due: mypy-self-check-mypy

[mypyc] Fix compilation of unreachable comprehensions
  mypyc/irbuild/expression.py
  mypyc/irbuild/for_helpers.py
  mypyc/test-data/run-misc.test
Due: mypy-self-check-mypy

Don't flag intentionally empty generators unreachable
  mypy/checker.py
Due: mypy-self-check-mypy

add test
  test-data/unit/check-unreachable-code.test
Due: none

Stubtest: don't error if a module in a `tests/` directory is missing from the stub
  mypy/stubtest.py
Due: mypy-self-check-mypy

Add u8 to run test
  mypyc/test-data/run-tuples.test
Due: none

[mypyc] Emit errors for unsupported class defs (and don't crash)
  mypyc/irbuild/classdef.py
  mypyc/irbuild/visitor.py
  mypyc/test-data/commandline.test
Due: mypy-self-check-mypy

Update LICENSE with copyright year
  LICENSE
Due: none

Remove more unused scripts
  misc/async_matrix.py
  misc/fix_annotate.py
  misc/remove-eol-whitespace.sh
Due: mypy-self-check-misc

Update LICENSE with copyright year (#15727)
  LICENSE
Due: none

Stubtest: error if typeshed is missing modules from the stdlib
  mypy/stubtest.py
Due: mypy-self-check-mypy

support 'return None' and 'yield None'
  mypy/checker.py
  test-data/unit/check-unreachable-code.test
Due: mypy-self-check-mypy

AlexWaygood feedback
  mypy/checker.py
Due: mypy-self-check-mypy

less walrus
  mypy/checker.py
Due: mypy-self-check-mypy

Path conditions:
  mypy-self-check-mypy: any of: ^(mypy|mypyc)/.+\.py$
  mypy-self-check-misc: any of: ^(misc)/.+\.py$
