Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0  # must match test-requirements.txt
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5  # must match test-requirements.txt
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4  # must match test-requirements.txt
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.12.6  # must match test-requirements.txt
          - flake8-noqa==1.3.0       # must match test-requirements.txt
  - repo: local
    hooks:
      - id: mypy-self-check-mypy
        name: mypy self-check mypy(c)
        language: system
        entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
        pass_filenames: false
        files: ^(mypy|mypyc)/.+\.py$
      - id: mypy-self-check-misc
        name: mypy self-check misc
        language: system
        entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
        pass_filenames: false
        files: ^(misc)/.+\.py$

tests: --update-data incompatible with xdist (#15641)
  mypy/test/data.py
Due: mypy-self-check-mypy

.git-blame-ignore-revs: add #12711 (#15643)
  .git-blame-ignore-revs
Due: none

attrs: define defaults to slots=True (#15642)
  mypy/plugins/attrs.py
  mypy/plugins/default.py
  test-data/unit/check-plugin-attrs.test
Due: mypy-self-check-mypy

Update mypy/checkexpr.py
  mypy/checkexpr.py
Due: mypy-self-check-mypy

Check tuples of abstract types (#15366)
  mypy/checkexpr.py
  test-data/unit/check-abstract.test
Due: mypy-self-check-mypy

Fix parse test case on Python 3.12 (#15577)
  mypy/fastparse.py
Due: mypy-self-check-mypy

Narrow `is` with final types correctly
  mypy/subtypes.py
  mypy/types.py
  test-data/unit/check-narrowing.test
Due: mypy-self-check-mypy

Address primer output
  mypy/subtypes.py
  test-data/unit/check-narrowing.test
Due: mypy-self-check-mypy

Ensure 3.12 tests pass
  .github/workflows/test.yml
Due: none

Fix type of linecache.cache
  mypy/typeshed/stdlib/linecache.pyi
Due: none

Add runtime `__slots__` attribute to dataclasses
  mypy/plugins/dataclasses.py
  test-data/unit/check-dataclasses.test
Due: mypy-self-check-mypy

Add runtime `__slots__` attribute to `attrs`
  mypy/plugins/attrs.py
  test-data/unit/check-plugin-attrs.test
Due: mypy-self-check-mypy

Add runtime `__slots__` attribute to dataclasses (#15649)
  mypy/plugins/dataclasses.py
  test-data/unit/check-dataclasses.test
Due: mypy-self-check-mypy

Ensure 3.12 tests pass (#15648)
  .github/workflows/test.yml
Due: none

Add runtime `__slots__` attribute to `attrs` (#15651)
  mypy/plugins/attrs.py
  test-data/unit/check-plugin-attrs.test
Due: mypy-self-check-mypy

type_narrowing.rst: fix syntax, consistency
  docs/source/type_narrowing.rst
Due: none

type_narrowing.rst: fix syntax, consistency (#15652)
  docs/source/type_narrowing.rst
Due: none

Better fill invalid generic instances
  mypy/typeanal.py
  test-data/unit/check-generics.test
  test-data/unit/check-typevar-tuple.test
Due: mypy-self-check-mypy

Update existing tests
  test-data/unit/check-classes.test
  test-data/unit/check-errorcodes.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-type-aliases.test
Due: none

Add error code "explicit-override" for strict @override mode (PEP 698) (#15512)
  docs/source/class_basics.rst
  docs/source/error_code_list2.rst
  mypy/checker.py
  mypy/errorcodes.py
  mypy/messages.py
  test-data/unit/check-functions.test
  test-data/unit/fixtures/typing-override.pyi
Due: mypy-self-check-mypy

Consistently avoid type-checking unreachable code (#15386)
  mypy/checker.py
  mypyc/test-data/run-misc.test
  test-data/unit/check-classes.test
  test-data/unit/check-fastparse.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inference-context.test
  test-data/unit/check-native-int.test
  test-data/unit/check-statements.test
  test-data/unit/check-typevar-tuple.test
  test-data/unit/check-unreachable-code.test
  test-data/unit/fine-grained.test
Due: mypy-self-check-mypy

Fix testLiteralMeets failure
  test-data/unit/check-literal.test
Due: none

Teach `stubtest` to work with `complex` and unary expressions
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Only allow some unary expressions
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Fix testLiteralMeets failure (#15659)
  test-data/unit/check-literal.test
Due: none

Teach `stubgen` to work with `complex` and unary expressions (#15661)
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

tests: parse skip-path-normalization option better
  mypy/test/data.py
  test-data/unit/check-literal.test
Due: mypy-self-check-mypy

Bump `PYTHON3_VERSION_MIN` to `3.7`
  mypy/checkexpr.py
  mypy/checkstrformat.py
  mypy/defaults.py
  mypy/messages.py
  mypy/semanal.py
  mypy/semanal_namedtuple.py
  mypy/semanal_pass1.py
  test-data/unit/README.md
  test-data/unit/check-async-await.test
  test-data/unit/check-class-namedtuple.test
  test-data/unit/check-fastparse.test
  test-data/unit/check-flags.test
  test-data/unit/check-formatting.test
  test-data/unit/check-generic-alias.test
  test-data/unit/check-generics.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inference.test
  test-data/unit/check-modules.test
  test-data/unit/check-namedtuple.test
  test-data/unit/check-narrowing.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-newsyntax.test
  test-data/unit/check-singledispatch.test
  test-data/unit/check-tuples.test
  test-data/unit/check-typeddict.test
  test-data/unit/check-underscores.test
  test-data/unit/check-union-or-syntax.test
  test-data/unit/check-unreachable-code.test
  test-data/unit/cmdline.test
  test-data/unit/daemon.test
  test-data/unit/parse-errors.test
  test-data/unit/pythoneval.test
  test-data/unit/reports.test
Due: mypy-self-check-mypy

Fix `is_stub` logic
  mypy/semanal.py
Due: mypy-self-check-mypy

Keep `__init__` in dataclasses and add more tests
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Fix CI
  test-data/unit/check-async-await.test
  test-data/unit/check-class-namedtuple.test
  test-data/unit/check-modules.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-newsyntax.test
  test-data/unit/cmdline.test
  test-data/unit/daemon.test
  test-data/unit/parse-errors.test
Due: none

Address review
  test-data/unit/README.md
  test-data/unit/check-union-or-syntax.test
Due: none

Fix dataclass/protocol crash on joining types (#15629)
  mypy/checker.py
  mypy/plugins/dataclasses.py
  test-data/unit/check-dataclasses.test
  test-data/unit/deps.test
Due: mypy-self-check-mypy

Remove --py2 argument
  mypy/defaults.py
  mypy/main.py
  mypy/test/helpers.py
Due: mypy-self-check-mypy

Fix CI
  test-data/unit/cmdline.test
  test-data/unit/parse-errors.test
Due: none

Update dev version to 1.6.0+dev
  mypy/version.py
Due: mypy-self-check-mypy

Update dev version to 1.6.0+dev (#15671)
  mypy/version.py
Due: mypy-self-check-mypy

fix cherry-pick-typeshed
  misc/cherry-pick-typeshed.py
Due: mypy-self-check-misc

Typeshed cherry-pick: Fix @patch when `new` is missing (#10459)
  mypy/typeshed/stdlib/unittest/mock.pyi
Due: none

fix cherry-pick-typeshed (#15672)
  misc/cherry-pick-typeshed.py
Due: mypy-self-check-misc
