Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

mypy-self-check-mypy:
  name: mypy self-check mypy(c)
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
  pass_filenames: false

mypy-self-check-misc:
  name: mypy self-check misc
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
  pass_filenames: false

Synchronize test-requirements.txt and .pre-commit-config.yaml
  test-requirements.txt
Due: none

keep flake8 v5 to support py37
  .pre-commit-config.yaml
  test-requirements.txt
Due: none

Remove some not needed (and dangerous) uses of get_proper_type
  misc/proper_plugin.py
  mypy/checkexpr.py
  mypy/constraints.py
  mypy/expandtype.py
  mypy/semanal.py
  mypy/test/testtypes.py
  mypy/typevartuples.py
  test-data/unit/check-typevar-tuple.test
Due: mypy-self-check-mypy, mypy-self-check-misc

lets go isort
  .pre-commit-config.yaml
  test-requirements.txt
Due: none

oops
  .pre-commit-config.yaml
Due: none

Fix and test invalid namedtuple case
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Rename type alias helper with a misleading name
  mypy/checkexpr.py
  mypy/typeanal.py
Due: mypy-self-check-mypy

Skip test on compiled mypy
  mypy/test/testtypes.py
Due: mypy-self-check-mypy

stubgen: Fix call-based namedtuple omitted from class bases (#14680)
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Synchronize test-requirements.txt and .pre-commit-config.yaml (#15197)
  .pre-commit-config.yaml
Due: none

Update linters
  .github/workflows/test.yml
  .pre-commit-config.yaml
  test-requirements.txt
Due: none

Allow using expand_type during semantic analyzis
  mypy/expandtype.py
  mypy/semanal_typeddict.py
Due: mypy-self-check-mypy

Fix typo
  mypy/expandtype.py
Due: mypy-self-check-mypy

Rename type alias helper with a misleading name (#15199)
  mypy/checkexpr.py
  mypy/typeanal.py
Due: mypy-self-check-mypy

Fixup IR tests after native floats landed
  mypyc/test-data/irbuild-constant-fold.test
Due: none

Moar comments
  mypy/constant_fold.py
Due: mypy-self-check-mypy

Fix typo in IRbuild test + remove unused import
  mypyc/irbuild/expression.py
  mypyc/test-data/irbuild-constant-fold.test
Due: mypy-self-check-mypy

[mypyc] Support unpacking mappings in dict display
  mypyc/primitives/dict_ops.py
  mypyc/test-data/run-misc.test
Due: mypy-self-check-mypy

Speed up make_simplified_union, fix recursive tuple crash (#15128)
  mypy/subtypes.py
  mypy/test/testtypes.py
  mypy/typeops.py
  test-data/unit/check-type-aliases.test
Due: mypy-self-check-mypy

Add environment markers to `test-requirements.txt` and min version to `pyproject.toml`.
  pyproject.toml
  test-requirements.txt
Due: none

Do not install self in tox lint environment
  tox.ini
Due: none

Move some utils that use get_proper_type away from types.py
  mypy/checker.py
  mypy/checkexpr.py
  mypy/constraints.py
  mypy/expandtype.py
  mypy/plugins/common.py
  mypy/semanal.py
  mypy/subtypes.py
  mypy/suggestions.py
  mypy/typeanal.py
  mypy/types.py
  mypy/types_utils.py
Due: mypy-self-check-mypy

Add a note to the dev guide
  CONTRIBUTING.md
Due: none

[mypyc] Use correct rtype for variable with inferred optional type
  mypyc/irbuild/builder.py
  mypyc/test-data/run-misc.test
Due: mypy-self-check-mypy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

stubgne: Fix missing total from TypedDict class
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

stubgen: Fix missing total from TypedDict class (#15208)
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Remove some not needed (and dangerous) uses of get_proper_type (#15198)
  misc/proper_plugin.py
  mypy/checkexpr.py
  mypy/constraints.py
  mypy/expandtype.py
  mypy/semanal.py
  mypy/test/testtypes.py
  mypy/typevartuples.py
  test-data/unit/check-typevar-tuple.test
Due: mypy-self-check-mypy, mypy-self-check-misc

Allow using expand_type during semantic analyzis (#15201)
  mypy/expandtype.py
  mypy/semanal_typeddict.py
Due: mypy-self-check-mypy

Address CR
  mypy/semanal.py
  mypy/subtypes.py
  mypy/typeanal.py
  mypy/types_utils.py
Due: mypy-self-check-mypy

Update linters and python version for linting in CI (#15200)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  test-requirements.txt
  tox.ini
Due: none

Bum allowed get_proper_types in test
  mypy/test/testtypes.py
Due: mypy-self-check-mypy

Move some utils that use get_proper_type away from types.py (#15204)
  mypy/checker.py
  mypy/checkexpr.py
  mypy/constraints.py
  mypy/expandtype.py
  mypy/plugins/common.py
  mypy/semanal.py
  mypy/subtypes.py
  mypy/suggestions.py
  mypy/test/testtypes.py
  mypy/typeanal.py
  mypy/types.py
  mypy/types_utils.py
Due: mypy-self-check-mypy

Use native ExpandTypeVisitor for expanding type aliases as well
  mypy/expandtype.py
  mypy/types.py
Due: mypy-self-check-mypy

Add a test
  test-data/unit/check-typeguard.test
Due: none

Test import from typing_extensions
  mypy/messages.py
  test-data/unit/check-functions.test
  test-data/unit/lib-stub/typing_extensions.pyi
Due: mypy-self-check-mypy

Add support for PEP 698 - override decorator
  docs/source/class_basics.rst
  mypy/checker.py
  mypy/messages.py
  mypy/nodes.py
  mypy/semanal.py
  mypy/types.py
  test-data/unit/check-functions.test
  test-data/unit/fixtures/property.pyi
  test-data/unit/fixtures/typing-full.pyi
Due: mypy-self-check-mypy

Check names of positional arguments for @override
  mypy/checker.py
  test-data/unit/check-functions.test
Due: mypy-self-check-mypy

Centralise linting config in `.pre-commit-config.yaml`
  runtests.py
  test-requirements.txt
  tox.ini
Due: none

add not documented errors code
  docs/source/error_code_list2.rst
Due: none

Path conditions:
  mypy-self-check-mypy: any of: ^(mypy|mypyc)/.+\.py$
  mypy-self-check-misc: any of: ^(misc)/.+\.py$
