Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

mypy-self-check-mypy:
  name: mypy self-check mypy(c)
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
  pass_filenames: false

mypy-self-check-misc:
  name: mypy self-check misc
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
  pass_filenames: false

Typeshed cherry-pick: Fix @patch when `new` is missing (#10459) (#15673)
  mypy/typeshed/stdlib/unittest/mock.pyi
Due: none

Manually revert "Add support for attrs.fields (#15021)"
  mypy/plugins/attrs.py
  mypy/plugins/default.py
  test-data/unit/check-plugin-attrs.test
  test-data/unit/lib-stub/attr/__init__.pyi
  test-data/unit/lib-stub/attrs/__init__.pyi
Due: mypy-self-check-mypy

Manually revert "Add support for attrs.fields (#15021)" (#15674)
  mypy/plugins/attrs.py
  mypy/plugins/default.py
  test-data/unit/check-plugin-attrs.test
  test-data/unit/lib-stub/attr/__init__.pyi
  test-data/unit/lib-stub/attrs/__init__.pyi
Due: mypy-self-check-mypy

Remove `+dev` from version
  mypy/version.py
Due: mypy-self-check-mypy

Remove `--py2` argument (#15670)
  mypy/defaults.py
  mypy/main.py
  mypy/test/helpers.py
Due: mypy-self-check-mypy

Fix CI
  test-data/unit/parse-errors.test
Due: none

Bump minimum Python type check target version to 3.7 (#15668)
  mypy/checkexpr.py
  mypy/checkstrformat.py
  mypy/defaults.py
  mypy/messages.py
  mypy/semanal.py
  mypy/semanal_namedtuple.py
  mypy/semanal_pass1.py
  test-data/unit/README.md
  test-data/unit/check-async-await.test
  test-data/unit/check-class-namedtuple.test
  test-data/unit/check-fastparse.test
  test-data/unit/check-flags.test
  test-data/unit/check-formatting.test
  test-data/unit/check-generic-alias.test
  test-data/unit/check-generics.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inference.test
  test-data/unit/check-modules.test
  test-data/unit/check-namedtuple.test
  test-data/unit/check-narrowing.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-newsyntax.test
  test-data/unit/check-singledispatch.test
  test-data/unit/check-tuples.test
  test-data/unit/check-typeddict.test
  test-data/unit/check-underscores.test
  test-data/unit/check-union-or-syntax.test
  test-data/unit/check-unreachable-code.test
  test-data/unit/cmdline.test
  test-data/unit/daemon.test
  test-data/unit/parse-errors.test
  test-data/unit/pythoneval.test
  test-data/unit/reports.test
Due: mypy-self-check-mypy

Add required `...` rhs to `NamedTuple` fields with default values
  mypy/stubgen.py
  test-data/unit/stubgen.test
Due: mypy-self-check-mypy

Sync typeshed
  mypy/typeshed/stdlib/_ctypes.pyi
  mypy/typeshed/stdlib/_decimal.pyi
  mypy/typeshed/stdlib/_weakref.pyi
  mypy/typeshed/stdlib/asyncio/events.pyi
  mypy/typeshed/stdlib/asyncio/taskgroups.pyi
  mypy/typeshed/stdlib/builtins.pyi
  mypy/typeshed/stdlib/collections/__init__.pyi
  mypy/typeshed/stdlib/datetime.pyi
  mypy/typeshed/stdlib/doctest.pyi
  mypy/typeshed/stdlib/email/charset.pyi
  mypy/typeshed/stdlib/email/utils.pyi
  mypy/typeshed/stdlib/errno.pyi
  mypy/typeshed/stdlib/functools.pyi
  mypy/typeshed/stdlib/ipaddress.pyi
  mypy/typeshed/stdlib/json/__init__.pyi
  mypy/typeshed/stdlib/linecache.pyi
  mypy/typeshed/stdlib/pathlib.pyi
  mypy/typeshed/stdlib/plistlib.pyi
  mypy/typeshed/stdlib/sqlite3/dbapi2.pyi
  mypy/typeshed/stdlib/statistics.pyi
  mypy/typeshed/stdlib/tkinter/__init__.pyi
  mypy/typeshed/stdlib/tkinter/ttk.pyi
  mypy/typeshed/stdlib/typing.pyi
  mypy/typeshed/stdlib/unittest/mock.pyi
  mypy/typeshed/stdlib/uuid.pyi
Due: none

Remove use of LiteralString in builtins (#13743)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert use of `ParamSpec` for `functools.wraps`
  mypy/typeshed/stdlib/functools.pyi
Due: none

Revert typeshed ctypes change Since the plugin provides superior type checking: https://github.com/python/mypy/pull/13987#issuecomment-1310863427 A manual cherry-pick of e437cdf.
  mypy/typeshed/stdlib/_ctypes.pyi
Due: none

Revert sum literal integer change (#13961)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Update some line numbers using `pytest --update-data`
  test-data/unit/check-classes.test
  test-data/unit/check-incremental.test
  test-data/unit/check-overloading.test
  test-data/unit/check-protocols.test
  test-data/unit/check-python38.test
Due: none

Manually make a few more updates
  test-data/unit/fine-grained.test
  test-data/unit/pythoneval.test
Due: none

Feature ignore-comment-errors (#15678)
  mypy/fastparse.py
  mypy/main.py
  mypy/options.py
  test-data/unit/check-fastparse.test
Due: mypy-self-check-mypy

Feature ignore-comment-errors notes (#15678)
  mypy/fastparse.py
  test-data/unit/check-fastparse.test
Due: mypy-self-check-mypy

Allow returning Literals in __new__
  mypy/checker.py
Due: mypy-self-check-mypy

Fix handle bytes sources, ensure errors (#15678)
  mypy/fastparse.py
Due: mypy-self-check-mypy

Fix inference for attrs.fields
  mypy/checker.py
  test-data/unit/check-plugin-attrs.test
  test-data/unit/fixtures/plugin_attrs.pyi
Due: mypy-self-check-mypy

Stubtest: Fix `__mypy-replace` false positives
  mypy/nodes.py
  mypy/plugins/common.py
  mypy/plugins/dataclasses.py
  mypy/stubtest.py
Due: mypy-self-check-mypy

Update commit hashes following typeshed sync
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Feature add line text to note (#15678)
  mypy/fastparse.py
  test-data/unit/check-fastparse.test
Due: mypy-self-check-mypy

Correctly narrow types for `tuple[type[X], ...]`
  mypy/checker.py
  test-data/unit/check-narrowing.test
Due: mypy-self-check-mypy

More tests
  test-data/unit/check-narrowing.test
Due: none

Complete transitive closure (not used correctly yet)
  mypy/solve.py
Due: mypy-self-check-mypy

Rename flag to `internal_fictional`
  mypy/nodes.py
  mypy/plugins/common.py
  mypy/plugins/dataclasses.py
  mypy/stubtest.py
Due: mypy-self-check-mypy

Update mypy/nodes.py
  mypy/nodes.py
Due: mypy-self-check-mypy

Refactor re-parsing into recursive func (#15678)
  mypy/fastparse.py
Due: mypy-self-check-mypy

Remove the Python 37 environment from the `tox.ini` since Python 3.7 is now end of life.
  tox.ini
Due: none

Update tox.ini
  tox.ini
Due: none

tests: skip-path-normalization should be a testcase option (#15660)
  mypy/test/data.py
  test-data/unit/check-literal.test
Due: mypy-self-check-mypy

Add constraint for PyYAML with Python 3.12
  test-requirements.txt
Due: none

Path conditions:
  mypy-self-check-mypy: any of: ^(mypy|mypyc)/.+\.py$
  mypy-self-check-misc: any of: ^(misc)/.+\.py$
