Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

mypy-self-check-mypy:
  name: mypy self-check mypy(c)
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
  pass_filenames: false

mypy-self-check-misc:
  name: mypy self-check misc
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
  pass_filenames: false

Update commits for sync-typeshed cherry picks
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Remove `six` as a test dependency (#15589)
  mypyc/test-data/run-classes.test
  test-requirements.txt
Due: none

Update commits for sync-typeshed cherry picks (#15592)
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Update mypy/test/helpers.py
  mypy/test/helpers.py
Due: mypy-self-check-mypy

Add foundation to enable `--strict-optional` in all test files (#15586)
  mypy/test/helpers.py
  mypy/test/testcheck.py
  mypy/test/testfinegrained.py
Due: mypy-self-check-mypy

Remove unnecessary (and probably unsafe) mutation of fdef
  mypy/typeops.py
Due: mypy-self-check-mypy

Remove classmethod and staticmethod from fixtures (complete #bb2461)
  test-data/unit/fixtures/__init_subclass__.pyi
  test-data/unit/fixtures/__new__.pyi
  test-data/unit/fixtures/dict.pyi
  test-data/unit/fixtures/object_with_init_subclass.pyi
  test-data/unit/fixtures/primitives.pyi
  test-data/unit/fixtures/tuple.pyi
Due: none

Better consistency with explicit staticmethods (#15353)
  mypy/checker.py
  mypy/checkmember.py
  mypy/nodes.py
  mypy/semanal.py
  mypy/typeops.py
  test-data/unit/check-selftype.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (1)
  mypy/test/testcheck.py
  test-data/unit/check-abstract.test
  test-data/unit/check-async-await.test
  test-data/unit/check-classes.test
  test-data/unit/check-enum.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (3)
  mypy/test/testfinegrained.py
  test-data/unit/fine-grained-suggest.test
  test-data/unit/fine-grained.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (2)
  mypy/test/testcheck.py
  test-data/unit/check-formatting.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inline-config.test
  test-data/unit/check-lists.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-protocols.test
  test-data/unit/check-selftype.test
  test-data/unit/check-serialize.test
  test-data/unit/check-super.test
  test-data/unit/check-type-aliases.test
  test-data/unit/check-type-checks.test
  test-data/unit/check-typeddict.test
  test-data/unit/check-typevar-values.test
Due: mypy-self-check-mypy

Update fixtures on existing override tests
  test-data/unit/check-functions.test
Due: none

Include method base class in error message
  mypy/checker.py
  mypy/messages.py
  test-data/unit/check-functions.test
Due: mypy-self-check-mypy

Add strict_override_decorator option (PEP 698)
  docs/source/class_basics.rst
  docs/source/config_file.rst
  mypy/checker.py
  mypy/main.py
  mypy/messages.py
  mypy/options.py
  test-data/unit/check-functions.test
  test-data/unit/fixtures/typing-override.pyi
Due: mypy-self-check-mypy

Fix
  mypy/checker.py
Due: mypy-self-check-mypy

Enable strict optional for more test files (1) (#15595)
  mypy/test/testcheck.py
  test-data/unit/check-abstract.test
  test-data/unit/check-async-await.test
  test-data/unit/check-classes.test
  test-data/unit/check-enum.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (2) (#15596)
  mypy/test/testcheck.py
  test-data/unit/check-formatting.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inline-config.test
  test-data/unit/check-lists.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-protocols.test
  test-data/unit/check-selftype.test
  test-data/unit/check-serialize.test
  test-data/unit/check-super.test
  test-data/unit/check-type-aliases.test
  test-data/unit/check-type-checks.test
  test-data/unit/check-typeddict.test
  test-data/unit/check-typevar-values.test
Due: mypy-self-check-mypy

Fix deferred case
  mypy/checker.py
  test-data/unit/check-functions.test
  test-data/unit/fixtures/typing-override.pyi
Due: mypy-self-check-mypy

Enable strict optional for more test files (4)
  mypy/test/testcheck.py
  test-data/unit/check-basic.test
  test-data/unit/check-bound.test
  test-data/unit/check-dynamic-typing.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (5)
  mypy/test/testcheck.py
  test-data/unit/check-expressions.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (4) (#15601)
  mypy/test/testcheck.py
  test-data/unit/check-basic.test
  test-data/unit/check-bound.test
  test-data/unit/check-dynamic-typing.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (5) (#15602)
  mypy/test/testcheck.py
  test-data/unit/check-expressions.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (6)
  mypy/test/testcheck.py
  test-data/unit/check-functions.test
  test-data/unit/check-generic-subtyping.test
  test-data/unit/check-generics.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (7)
  mypy/test/testcheck.py
  test-data/unit/check-inference-context.test
  test-data/unit/check-inference.test
  test-data/unit/check-isinstance.test
  test-data/unit/check-kwargs.test
  test-data/unit/check-literal.test
Due: mypy-self-check-mypy

"mypy Gitter" is dead; it is called "python/typing"
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Enable strict optional for more test files (6) (#15603)
  mypy/test/testcheck.py
  test-data/unit/check-functions.test
  test-data/unit/check-generic-subtyping.test
  test-data/unit/check-generics.test
Due: mypy-self-check-mypy

Enable strict optional for more test files (8)
  mypy/test/testcheck.py
  test-data/unit/check-namedtuple.test
  test-data/unit/check-overloading.test
  test-data/unit/check-plugin-attrs.test
  test-data/unit/check-statements.test
  test-data/unit/check-tuples.test
Due: mypy-self-check-mypy

Add upper bound for lxml
  test-requirements.txt
Due: none

Bump pytest to >=7.4.0
  mypy/test/data.py
  test-requirements.txt
Due: mypy-self-check-mypy

[mypyc] Fix multiple inheritance with a protocol on Python 3.12 (#15572)
  mypyc/lib-rt/misc_ops.c
Due: none

Update docstring for UnpackType
  mypy/types.py
Due: mypy-self-check-mypy

Add function assignment test when both functions are typed with Unpack
  test-data/unit/check-varargs.test
Due: none

Add test for passing kwargs inside a function to another function
  test-data/unit/check-varargs.test
Due: none

"mypy Gitter" is dead; it is called "python/typing" (#15610)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update cheat_sheet_py3.rst 2 properly xplain Callable
  docs/source/cheat_sheet_py3.rst
Due: none

Add upper bound for lxml (#15608)
  test-requirements.txt
Due: none

Enable strict optional for more test files (7) (#15604)
  mypy/test/testcheck.py
  test-data/unit/check-inference-context.test
  test-data/unit/check-inference.test
  test-data/unit/check-isinstance.test
  test-data/unit/check-kwargs.test
  test-data/unit/check-literal.test
Due: mypy-self-check-mypy

Quick fix, I think
  mypy/constraints.py
Due: mypy-self-check-mypy

Path conditions:
  mypy-self-check-mypy: any of: ^(mypy|mypyc)/.+\.py$
  mypy-self-check-misc: any of: ^(misc)/.+\.py$
