Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

mypy-self-check-mypy:
  name: mypy self-check mypy(c)
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
  pass_filenames: false

mypy-self-check-misc:
  name: mypy self-check misc
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
  pass_filenames: false

Keep forward references in NamedTuples to due to mypyc bug
  mypyc/ir/class_ir.py
  mypyc/ir/ops.py
Due: mypy-self-check-mypy

[WIP] deal with not having distutils
  mypyc/build.py
Due: mypy-self-check-mypy

pythoneval already has strict optional
  test-data/unit/pythoneval.test
Due: none

Solve import cycles for `mypy/expandtype.py` and `mypy/test/testtypes.py`
  mypy/expandtype.py
  mypy/test/testtypes.py
Due: mypy-self-check-mypy

Clean up
  mypyc/build.py
Due: mypy-self-check-mypy

Black
  mypyc/build.py
Due: mypy-self-check-mypy

[mypyc] Fix 3.12 issue with pickling of instances with __dict__ (#15574)
  mypyc/codegen/emitclass.py
Due: mypy-self-check-mypy

Solve import cycles in expandtype and testtypes.py (#15580)
  mypy/expandtype.py
  mypy/test/testtypes.py
Due: mypy-self-check-mypy

Fix strict optional handling in dataclasses (#15571)
  mypy/plugins/dataclasses.py
  test-data/unit/pythoneval.test
Due: mypy-self-check-mypy

Don't add fictional parameters to `NamedTuple._make()` (#15578)
  mypy/semanal_namedtuple.py
  test-data/unit/check-newsemanal.test
Due: mypy-self-check-mypy

Target py3.8+ for black
  pyproject.toml
Due: none

Target py3.8+ for black (#15583)
  pyproject.toml
Due: none

[mypyc] Fix self-compilation on Python 3.12 (#15582)
  mypyc/build.py
Due: mypy-self-check-mypy

Fixes Issue #2500
  docs/source/class_basics.rst
  mypy/checker.py
  mypy/checkexpr.py
  mypy/errorcodes.py
  mypy/expandtype.py
  mypy/message_registry.py
  mypy/messages.py
  mypy/nodes.py
  mypy/semanal.py
  mypy/typeops.py
  mypy/types.py
  test-data/unit/check-classes.test
  test-data/unit/check-functions.test
  test-data/unit/check-multiple-inheritance.test
  test-data/unit/check-recursive-types.test
  test-data/unit/check-type-aliases.test
  test-data/unit/check-typeguard.test
  test-data/unit/fine-grained.test
  test-data/unit/fixtures/property.pyi
  test-data/unit/fixtures/typing-full.pyi
  test-data/unit/lib-stub/typing_extensions.pyi
Due: mypy-self-check-mypy

Reduce unit tests to just the ones failing before this patch
  mypy/semanal.py
  test-data/unit/check-method-1st-arg-pep585-type.test
  test-data/unit/check-selftype.test
Due: mypy-self-check-mypy

Reduce unit tests to just the ones failing before this patch
  test-data/unit/check-selftype.test
  test-data/unit/check-special-class--and-static-methods.test
Due: none

Target py38 for ruff
  pyproject.toml
Due: none

Add foundation to enable --strict-optional in all test files
  mypy/test/helpers.py
  mypy/test/testcheck.py
  mypy/test/testfinegrained.py
Due: mypy-self-check-mypy

Fix variable name in comment in getting_started
  docs/source/getting_started.rst
Due: none

Use os.path.split for testcase file name
  mypy/test/helpers.py
Due: mypy-self-check-mypy

Fix variable name in comment in `getting_started.rst` (#15587)
  docs/source/getting_started.rst
Due: none

Target py38 for ruff (#15585)
  pyproject.toml
Due: none

Remove `six` as a test dependency
  mypyc/test-data/run-classes.test
  test-requirements.txt
Due: none

Sync typeshed
  mypy/typeshed/stdlib/_collections_abc.pyi
  mypy/typeshed/stdlib/_ctypes.pyi
  mypy/typeshed/stdlib/asyncio/__init__.pyi
  mypy/typeshed/stdlib/asyncio/base_events.pyi
  mypy/typeshed/stdlib/asyncio/events.pyi
  mypy/typeshed/stdlib/builtins.pyi
  mypy/typeshed/stdlib/codecs.pyi
  mypy/typeshed/stdlib/collections/__init__.pyi
  mypy/typeshed/stdlib/email/utils.pyi
  mypy/typeshed/stdlib/enum.pyi
  mypy/typeshed/stdlib/functools.pyi
  mypy/typeshed/stdlib/http/client.pyi
  mypy/typeshed/stdlib/inspect.pyi
  mypy/typeshed/stdlib/pydoc.pyi
  mypy/typeshed/stdlib/socket.pyi
  mypy/typeshed/stdlib/tempfile.pyi
  mypy/typeshed/stdlib/types.pyi
  mypy/typeshed/stdlib/typing.pyi
  mypy/typeshed/stdlib/unittest/mock.pyi
Due: none

Remove use of LiteralString in builtins (#13743)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert sum literal integer change (#13961)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert typeshed ctypes change Since the plugin provides superior type checking: https://github.com/python/mypy/pull/13987#issuecomment-1310863427 A manual cherry-pick of e437cdf.
  mypy/typeshed/stdlib/_ctypes.pyi
Due: none

Revert use of `ParamSpec` for `functools.wraps`
  mypy/typeshed/stdlib/functools.pyi
Due: none

Allow typeshed syncing to merge failing CPs manually
  misc/sync-typeshed.py
Due: mypy-self-check-misc

forgot non tty case
  misc/sync-typeshed.py
Due: mypy-self-check-misc

early exit stlye + check input
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Update misc/sync-typeshed.py
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Handle type same as typing.Type in classmethod 1st arg (#15297)
  mypy/semanal.py
  test-data/unit/check-selftype.test
Due: mypy-self-check-mypy

When sync-typeshed fails to apply CP allow manual user merges (#15591)
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Path conditions:
  mypy-self-check-mypy: any of: ^(mypy|mypyc)/.+\.py$
  mypy-self-check-misc: any of: ^(misc)/.+\.py$
