Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0  # must match test-requirements.txt
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5  # must match test-requirements.txt
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4  # must match test-requirements.txt
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.12.6  # must match test-requirements.txt
          - flake8-noqa==1.3.0       # must match test-requirements.txt
  - repo: local
    hooks:
      - id: mypy-self-check-mypy
        name: mypy self-check mypy(c)
        language: system
        entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
        pass_filenames: false
        files: ^(mypy|mypyc)/.+\.py$
      - id: mypy-self-check-misc
        name: mypy self-check misc
        language: system
        entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
        pass_filenames: false
        files: ^(misc)/.+\.py$

Restore some (questionable but established) behaviour
  mypy/semanal.py
  test-data/unit/check-protocols.test
Due: mypy-self-check-mypy

Created new error code, added test and documentation
  docs/source/error_code_list2.rst
  mypy/checker.py
  mypy/errorcodes.py
  mypy/message_registry.py
  test-data/unit/check-errorcodes.test
Due: mypy-self-check-mypy

Changes for consistent coding style
  mypy/checker.py
Due: mypy-self-check-mypy

Fix a crash when function-scope recursive alias appears as upper bound
  mypy/typeanal.py
  test-data/unit/check-recursive-types.test
Due: mypy-self-check-mypy

Fix indent
  test-data/unit/check-recursive-types.test
Due: none

Fixing error on title underline in documentation
  docs/source/error_code_list2.rst
Due: none

Fix a crash when function-scope recursive alias appears as upper bound (#15159)
  mypy/typeanal.py
  test-data/unit/check-recursive-types.test
Due: mypy-self-check-mypy

Fix spurious errors on builtins.open
  mypy/semanal_main.py
Due: mypy-self-check-mypy

Update docs/source/protocols.rst
  docs/source/protocols.rst
Due: none

Clarify usage of callables regarding type object in docs (#15079)
  docs/source/kinds_of_types.rst
  docs/source/protocols.rst
Due: none

Update the cheatsheet for functions and keyword argument typing
  docs/source/cheat_sheet_py3.rst
Due: none

Better support for unused ignores
  mypy/build.py
  mypy/errorcodes.py
  mypy/errors.py
  mypy/fastparse.py
  mypy/nodes.py
  mypy/semanal_pass1.py
  mypy/server/update.py
  test-data/unit/check-errorcodes.test
  test-data/unit/check-ignore.test
  test-data/unit/check-unreachable-code.test
  test-data/unit/daemon.test
Due: mypy-self-check-mypy

Normalize decorators; update parse tests
  mypy/fastparse.py
  test-data/unit/merge.test
  test-data/unit/parse.test
Due: mypy-self-check-mypy

Add docs; update more tests
  docs/source/error_code_list2.rst
  test-data/unit/semanal-basic.test
  test-data/unit/semanal-classes.test
  test-data/unit/semanal-expressions.test
  test-data/unit/semanal-lambda.test
  test-data/unit/semanal-modules.test
  test-data/unit/semanal-statements.test
  test-data/unit/semanal-types.test
Due: none

Remove use of LiteralString in builtins (#13743)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert sum literal integer change (#13961)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert typeshed ctypes change Since the plugin provides superior type checking: https://github.com/python/mypy/pull/13987#issuecomment-1310863427 A manual cherry-pick of e437cdf.
  mypy/typeshed/stdlib/_ctypes.pyi
Due: none

Revert use of `ParamSpec` for `functools.wraps`
  mypy/typeshed/stdlib/functools.pyi
Due: none

Improve test
  test-data/unit/check-ignore.test
Due: none

Fix self-check
  mypy/fastparse.py
Due: mypy-self-check-mypy

Move couple tests to 3.8+
  test-data/unit/check-ignore.test
  test-data/unit/check-python38.test
  test-data/unit/check-unreachable-code.test
Due: none

Fix ctypes plugin (hopefully)
  mypy/plugins/ctypes.py
  mypy/plugins/default.py
  test-data/unit/check-ctypes.test
Due: mypy-self-check-mypy

Update hashes in `misc/sync-typeshed.py` following typeshed sync
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Update hashes in `misc/sync-typeshed.py` following typeshed sync (#15166)
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Fix return type of yield from union of generators
  mypy/checkexpr.py
Due: mypy-self-check-mypy

Add tests
  test-data/unit/check-statements.test
Due: none

Fix crash on lambda in generic context with generic method in body (#15155)
  mypy/applytype.py
  mypy/expandtype.py
  mypy/subtypes.py
  test-data/unit/check-generics.test
Due: mypy-self-check-mypy

Fix crash in dataclass protocol with self attribute assignment (#15157)
  mypy/semanal.py
  test-data/unit/check-dataclasses.test
  test-data/unit/check-protocols.test
Due: mypy-self-check-mypy

Fix spurious errors on builtins.open (#15161)
  mypy/semanal_main.py
Due: mypy-self-check-mypy

Apply suggestions from code review
  docs/source/error_code_list2.rst
Due: none

Do not show unused-ignore errors in unreachable code, and make it a real error code (#15164)
  docs/source/error_code_list2.rst
  mypy/build.py
  mypy/errorcodes.py
  mypy/errors.py
  mypy/fastparse.py
  mypy/nodes.py
  mypy/semanal_pass1.py
  mypy/server/update.py
  test-data/unit/check-errorcodes.test
  test-data/unit/check-ignore.test
  test-data/unit/check-python38.test
  test-data/unit/check-unreachable-code.test
  test-data/unit/daemon.test
  test-data/unit/merge.test
  test-data/unit/parse.test
  test-data/unit/semanal-basic.test
  test-data/unit/semanal-classes.test
  test-data/unit/semanal-expressions.test
  test-data/unit/semanal-lambda.test
  test-data/unit/semanal-modules.test
  test-data/unit/semanal-statements.test
  test-data/unit/semanal-types.test
Due: mypy-self-check-mypy

Fix test case
  test-data/unit/check-optional.test
Due: none

Update the TypedDict docs
  docs/source/typed_dict.rst
Due: none
