Repository python/mypy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-self-check-mypy, mypy-self-check-misc

mypy-self-check-mypy:
  name: mypy self-check mypy(c)
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini -p mypy -p mypyc
  pass_filenames: false

mypy-self-check-misc:
  name: mypy self-check misc
  language: system
  entry: python -m mypy --config-file mypy_self_check.ini misc --exclude misc/fix_annotate.py --exclude misc/async_matrix.py --exclude misc/sync-typeshed.py
  pass_filenames: false

moar fixes for <py3.8
  test-data/unit/semanal-errors.test
  test-data/unit/semanal-statements.test
Due: none

[out] version checks must be against min version or higher
  mypy/test/data.py
Due: mypy-self-check-mypy

head is spinning thinking about [out]
  test-data/unit/semanal-errors.test
Due: none

min should be PYTHON3_VERSION
  mypy/test/data.py
Due: mypy-self-check-mypy

Remove special casing for "cannot" in error messages (#15428)
  mypy/test/helpers.py
  test-data/unit/check-classes.test
  test-data/unit/check-overloading.test
  test-data/unit/check-recursive-types.test
  test-data/unit/check-tuples.test
  test-data/unit/semanal-errors.test
  test-data/unit/semanal-statements.test
Due: mypy-self-check-mypy

[out] version checks must be against min version or higher (#15430)
  mypy/test/data.py
Due: mypy-self-check-mypy

docs: ref redirector
  docs/source/conf.py
  docs/source/html_builder.py
Due: none

Use stable comparison instead
  mypy/dmypy/client.py
  mypy/dmypy_server.py
  mypy/options.py
Due: mypy-self-check-mypy

docs: ref redirector (#15432)
  docs/source/conf.py
  docs/source/html_builder.py
Due: none

Use consistent anchors for error codes
  docs/source/error_code_list.rst
  docs/source/error_code_list2.rst
  docs/source/error_codes.rst
  docs/source/html_builder.py
Due: none

Fix dmypy run on Windows (#15429)
  mypy/dmypy_server.py
  mypy/errorcodes.py
  mypy/options.py
  test-data/unit/daemon.test
Due: mypy-self-check-mypy

Use consistent anchors for error codes (#15435)
  docs/source/error_code_list.rst
  docs/source/error_code_list2.rst
  docs/source/error_codes.rst
  docs/source/html_builder.py
Due: none

Fix readthedocs build
  .github/workflows/docs.yml
  docs/source/html_builder.py
  tox.ini
Due: none

Fix error
  docs/source/html_builder.py
Due: none

Fix readthedocs build (#15437)
  .github/workflows/docs.yml
  docs/source/html_builder.py
  tox.ini
Due: none

Remove +dev from version.
  mypy/version.py
Due: mypy-self-check-mypy

Add a trivial test
  test-data/unit/check-overloading.test
Due: none

Fix re-added file with errors in mypy daemon
  mypy/dmypy_server.py
  test-data/unit/daemon.test
  test-data/unit/fine-grained.test
Due: mypy-self-check-mypy

Fix self-check
  mypy/dmypy_server.py
Due: mypy-self-check-mypy

Remove confusing instance variable example in cheat sheet
  docs/source/cheat_sheet_py3.rst
Due: none

Additional TypeVar defaults validation
  mypy/checkexpr.py
  test-data/unit/check-typevar-defaults.test
Due: mypy-self-check-mypy

Fix __match_args__ for TypeVarLikeExpr
  mypy/nodes.py
Due: mypy-self-check-mypy

Additional validation for TypeVar defaults (PEP 696) (#15442)
  mypy/checkexpr.py
  mypy/nodes.py
  test-data/unit/check-typevar-defaults.test
Due: mypy-self-check-mypy

Remove use of LiteralString in builtins (#13743)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert sum literal integer change (#13961)
  mypy/typeshed/stdlib/builtins.pyi
Due: none

Revert typeshed ctypes change Since the plugin provides superior type checking: https://github.com/python/mypy/pull/13987#issuecomment-1310863427 A manual cherry-pick of e437cdf.
  mypy/typeshed/stdlib/_ctypes.pyi
Due: none

Revert use of `ParamSpec` for `functools.wraps`
  mypy/typeshed/stdlib/functools.pyi
Due: none

Update hashes in `misc/sync-typeshed.py` following typeshed sync
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Update hashes in `misc/sync-typeshed.py` following typeshed sync (#15447)
  misc/sync-typeshed.py
Due: mypy-self-check-misc

Path conditions:
  mypy-self-check-mypy: any of: ^(mypy|mypyc)/.+\.py$
  mypy-self-check-misc: any of: ^(misc)/.+\.py$
